In [1]:
a=10
print(type(a))

<class 'int'>

## Strong Type

In [2]:
"NMC" + "Healthcare"

'NMCHealthcare'

In [3]:
"NMC"+1

TypeError: can only concatenate str (not "int") to str

In [4]:
s=input()
print(s)

thomas
thomas

In [6]:
lanaguage ='Power Builder'
print("Welcome to "+lanaguage)

Welcome to Power Builder

In [12]:
lanaguage ='Power Builder'
print(f"Welcome to {lanaguage}")

Welcome to Power Builder

## OLD Method

In [13]:
language ='PB'
print("welcome to {}".format(language))

welcome to PB

## Boolean Data Type

In [14]:
a=True
b=False
print(type(a))

<class 'bool'>

In [25]:
a=True
b=False
if (a==b):
    print("true")
else:
    print("false")

false

In [30]:
a=5
b=3
c= a<b
print(c)

False

## User Input

In [1]:
input("Enter your Value : ")

Enter your Value : 1

'1'

In [2]:
2**3

8

## String Methods

In [3]:
name = "thomas"

In [6]:
name[0]

't'

In [7]:
name[-1]

's'

In [8]:
name[-0]

't'

In [9]:
name[-2]

'a'

## String Slicing

In [38]:
name = "thomas"
len(name)
#print(name[0:6])
print(name[-6:-1])
print(name[-1:-6])

thoma

In [48]:
date="21/10/2022"
######01234567890#
#######0987654321#
print("date :"+ date[0:2])
print("Mon  :"+ date[3:5])
print("Year :"+ date[6:10])

date :21
Mon  :10
Year :2022

In [59]:
date="21/10/2022"
######01234567890#
#######0987654321#
print("date :"+ date[-10:-8])
print("Mon  :"+ date[-7:-5])
print("Year :"+ date[-4:])

date :21
Mon  :10
Year :2022

In [60]:
for i in range(len(name)):
    print(name[i])

t
h
o
m
a
s

In [64]:
data = input("Enter Paliandrome String : ")
compare_data = data[::-1]
if data == compare_data:
    print(f"Entered string is a palinadrome - {data}")
else:
    print(f"Entered string is a not palinadrome - {data}")

Enter Paliandrome String : mama
Entered string is a not palinadrome - mama

In [72]:
v_string="12345678"
v_string[0:8:7]

'18'

In [68]:
v_string="12345678"
v_string[-1::-1]

'87654321'

In [76]:
name ='sunny bhaveen chandra'
name[::-1]

'ardnahc neevahb ynnus'

## Mutability - Mutable means subjects to change

In [78]:
name="thomas"
# Replace t with F ?
name.replace("t","f")

'fhomas'

In [83]:
len("thomas  ".replace(" ","") )

6

In [1]:
name ="     "
len(name)

5

In [2]:
name ="     thomas"
len(name)

11

In [4]:
dob= "13/12/1984"
dates = dob.split("/")
print(dates)

['13', '12', '1984']

## Control Flow Statement

In [34]:
totalamount =float(input("Enter the total amount for the Bill   "))

if totalamount >= 500 and totalamount <= 999.99:
    print(f"Gross Amount : {totalamount} Discount Applied : {10} Net Total : { (totalamount - (totalamount*(10)/100)) }" )
elif totalamount>= 1000:
    print(f"Gross Amount : {totalamount} Discount Applied : {20} Net Total : { (totalamount - (totalamount*(20)/100)) }" )
else:
    print(f"Gross Amount : {totalamount} Discount Applied : {0} Net Total : { (totalamount - (totalamount*(0)/100)) }" )

Enter the total amount for the Bill   100
Gross Amount : 100.0 Discount Applied : 0 Net Total : 100.0

## Nested if else

In [39]:
amount=int(input("Enter your amount : "))
if amount>= 0:
    if amount==0:
        print("Amount is Zero")
    else:
        print("Amount is Greater than Zero")
else:
    print("Amount is Negative")

Enter your amount : 1
Amount is Greater than Zero

## Single Line If Else

In [2]:
num = float(input("Enter the Number greater than 100 : "))
if num >=100 : print('More than 100')

Enter the Number greater than 100 : 100
More than 100

In [2]:
num = float(input("Enter the Number greater than 100 : "))
print("Yes" if num > 100 else "NO")

Enter the Number greater than 100 : 99
NO

## While Loop , For Loop Loop Control , Break , continue , Pass Nested Loop

In [6]:
total_marks =1000
cutoff =600
scores =[100,300,499,599,600,1000]
year= 0 
while (scores[year]<=cutoff):
    print("Not Scored beyond cutoff "+str(scores[year]))
    year=year+1

Not Scored beyond cutoff 100
Not Scored beyond cutoff 300
Not Scored beyond cutoff 499
Not Scored beyond cutoff 599
Not Scored beyond cutoff 600

In [9]:
counter=0 
while ( counter<10):
    print(counter)
    counter=counter+1

0
1
2
3
4
5
6
7
8
9

## Python List

In [2]:
list_sample =[1,"thomas",2.3]
type(list_sample)
for element in list_sample:
    print(element)

1
thomas
2.3

In [10]:
list_sample =[1,"thomas",2.3]
for i in range(len(list_sample)):
    print(type(list_sample[i]))

<class 'int'>
<class 'str'>
<class 'float'>